body {
  font: 16px sans-serif;
  color: #222;
  margin: 0;
  box-sizing: border-box;
}
header {
  background: #2574db;
  margin: 0;
  padding: 0.5em;
  color: white;
  display: flex;
  align-items: center;
}
.logo {
  width: 250px;
  height: auto;
}
header h1, header h2 {
  margin: 0;
  line-height: 1;
}
header h1 {
  border-right: 1px solid white;
  margin: 0 0.5em 0 0;
  padding-right: 0.5em;
}
header h2 {
  font: normal 14px sans-serif;
  text-align: center;
  text-transform: uppercase;
  display: inline;
}
header a {
  color: white;
  text-decoration: none;
}
.hljs {
  padding: 0em 1.5em;
}
.actions {
  max-width: 75%;
  margin: 2em auto;
  text-align: center;
}
.button {
  background: #2574db;
  color: white;
  border-radius: 4px;
  padding: 0.5em;
  margin: 0.5em;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top-color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(0, 0, 0, 0.2);
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
